<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n-->
            <Pattern>
                %d{yyyy-MM-dd HH:mm} %-5level %logger{36} - %msg%n
            </Pattern>

        </layout>
    </appender>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.thymeleaf" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="ch.qos.logback" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.eclise.jetty.component" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="springfox.documentation.swagger.web.ClassOrApiAnnotationResourceGrouping" level="error" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>


    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
