<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="RANA DAS"/>

    <title th:text="#{index.title}">default title </title>

    <link th:href="@{/resources/static/bower/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    <base href="/">
</head>
<body ng-app="angular-skel">
<div class="container" ng-controller="DemoController">

    <!-- HEADER AND NAVBAR -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">{{firstName}} </a>
                </div>
            </div>
        </nav>
    </header>

</div>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">
    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ng-view></div>

</div>

<script th:src="@{/resources/static/bower/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/resources/static/bower/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/static/bower/angular/angular.min.js}"></script>
<script th:src="@{/resources/static/bower/angular-route/angular-route.min.js}"></script>
<script th:src="@{/resources/static/js/angular-app.js}"></script>

</body>
</html>